{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card mb-3">
    <div class="row g-2">
      <div class="col-md-2">
        <img src="{{ book.image.url }}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title"><b class="text-light">Model :</b> {{ book.author }}</h5>
          <p class="card-text">
            <b class="text-light">Description :</b>{{ book.description }}
          </p>
          <p class="card-text">
            <small class="text-body-secondary"><b class="text-light">Categories :</b> {{ book.category.name }}</small>
          </p>
          {% if request.user.is_authenticated %}
            <p class="card-text">
              <button class="btn btn-light"><a class="text-decoration-none text-dark" href="{% url 'borrow_book' book_id=book.id%}">Borrow</a></button>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <h5 class="p-3">Total Reviews : {{ book.reviews.all|length }}</h5>
  {% for comment in book.reviews.all %}
    <div class="card my-3">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ comment.content }}</p>
          <footer class="blockquote-footer">{{ comment.user.username }}</footer>
        </blockquote>
      </div>
    </div>
  {% endfor %}
  <div class="card m-2">
    <div class="card-body">
      <form method="post" class="d-grid w-50 mx-auto">
        <h1 class="text-center">Add Review</h1>
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-light">Enter</button>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}