{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center my-5"><span class="text-primary">{{ book.title }}</span> 's details</h1>
  <div class="card mb-3">
    <div class="row g-2">
      <div class="col-md-4">
        <img src="{{ book.image.url }}" class="img-fluid rounded-start" style="height: 500px; width: 100%; object-fit: cover;" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-4"><b class="text-dark">Author :</b> {{ book.author }}</h5>
          <p class="card-text fs-6" style="text-align:justify;text-justify:inner word">
            <b class="text-dark">Description : </b>{{ book.description }}
          </p>
          <p class="card-text fs-6">
            <b class="text-dark ">ISBN : </b>{{ book.isbn }}
          </p>
          <p class="card-text fs-6">
            <b class="text-dark ">Publication Date : </b>{{ book.publication_date }}
          </p>
          <p class="card-text fs-6">
            <b class="text-dark ">Number of copies left : </b>{{ book.number_of_copies }}
          </p>
          <p class="card-text fs-6">
            <b class="text-dark ">Genre : </b>{{ book.genre }}
          </p>
          <p class="card-text fs-6">
            <b class="text-dark ">Categories : </b>{{ book.category.name }}
          </p>
          {% if request.user.is_authenticated %}
            <div class="d-flex">
                {% if transaction %}
                  <a href="{% url 'return_book' transaction.id %}" class="btn btn-secondary me-2">Return</a>
                {% else %}
                  <a href="{% url 'borrow_book' book_id=book.id%}" class="btn btn-secondary me-2">Borrow</a>
                {% endif %}
              {% if is_wished %}
                <a href="{% url 'remove_from_wishlist' book.id %}" class="btn btn-secondary me-2">Remove from Wishlist</a>
              {% else %}
                <a href="{% url 'add_to_wishlist' book.id %}" class="btn btn-secondary me-2">Add to Wishlist</a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <h5 class="p-3">Total Reviews : {{ book.reviews.all|length }}</h5>
  {% for comment in book.reviews.all %}
    <div class="card my-3">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ comment.content }}</p>
          <footer class="blockquote-footer">{{ comment.user.username }}</footer>
        </blockquote>
      </div>
    </div>
  {% endfor %}
  <div class="card m-2">
    <div class="card-body">
      <form method="post" class="d-grid w-50 mx-auto">
        <h1 class="text-center">Add Review</h1>
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-secondary">Review</button>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}